<div class='title-container'>
  <h1>{{title}}</h1>
  <a href="/login" class='link'>
    <div class='link-container'>
      Log in
    </div>
  </a>

  <a href="/signup" class='link'>
    <div class='link-container'>
      Sign up
    </div>
  </a>
</div>
